{{ define "main" }}

<div class="py-5 w3l-homeblock1 text-center">
  <div class="container mt-md-3">
      <h3 class="blog-desc-big text-center mb-4">{{with .Title}}{{.}}{{end}}</h3>
      <div class="blog-post-align">
          <div class="blog-post-img">
              <a href="author.html"><img src="assets/images/author.jpg" alt="" class="rounded-circle img-fluid" /></a>
          </div>
          <div class="blog-post-info">
              <div class="author align-items-center mb-1">
                  <a href="author.html">{{ .PublishDate.Format "January 2, 2006" }}</a> in 
                  {{with .Params.tags}}
                    {{range .}} 
                    <a href="{{"/etiquetas/" | relLangURL}}{{. | urlize}}"> 
                      {{.}}
                    </a> 
                    {{end}}
                  {{end}}
              </div>
              <ul class="blog-meta">
                  <li class="meta-item blog-lesson">
                      <span class="meta-value"> April 13, 2020 </span>
                  </li>
                  <li class="meta-item blog-students">
                      <span class="meta-value">Lectura: {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} min. {{ else }} mins. {{ end }}</span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>

<section class="blog-post-main w3l-homeblock1">
  <!--/blog-post-->
  <article class="blog-content-inf pb-5">
    <div class="container pb-lg-4">
      <div class="single-post-image">
        <div class="post-content">
          {{$img := .Resources.GetMatch "cover.*"}}
          {{ if $img }}
          <img src='{{($img.Resize "1150x webp").Permalink}}' width="1150" loading="lazy"
            class="radius-image img-fluid mb-5" alt="{{.Title}}">
          {{end}}
        </div>
        
        <div class="single-post-content">
          {{.Content}}
        </div>

        <!--/article tags-->
        <div class="d-grid left-right mt-5 pb-md-5">
          <div class="buttons-singles tags">
            <h4>Tags :</h4>
            <a href="#blog-tag">Culture</a>
            <a href="#blog-tag">Sports</a>
            <a href="#blog-tag">Technology</a>
            <a href="#blog-tag">Health</a>
          </div>
        </div>
        
        <!--/social share-->
        <div class="buttons-singles">
          <h4>Share :</h4>
          <a href="#blog-share"><span class="fa fa-facebook" aria-hidden="true"></span></a>
          <a href="#blog-share"><span class="fa fa-twitter" aria-hidden="true"></span></a>
          <a href="#blog-share"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
          <a href="#blog-share"><span class="fa fa-pinterest-p" aria-hidden=" true"></span></a>
        </div>

        {{- partial "author-card.html" . -}}
        {{- partial "comments.html" . -}}
        {{- partial "leave-comment-form.html" . -}}

        <!-- related posts -->
        {{- partial "more.html" . -}}

      </div>
    </div>
  </article>
      <!--//blog-post-->
</section>
{{ end }}