{{ define "main" }}

<div class="py-5 w3l-homeblock1 text-center">
  <!-- blog-info -->
  <div class="container mt-md-3">
    <h3 class="blog-desc-big text-center mb-4">{{with .Title}}{{.}}{{end}}</h3>
    <div class="blog-post-align">
      {{ $author := resources.Get (printf "/images/%s.jpg" (.Params.author)) }}
      {{ $alt_text := (printf "%s_blog_image" (.Params.author)) }}

      <div class="blog-post-img">
        {{ with $author }}
        <a href="author.html"><img src='{{ ($author.Resize "60x webp").RelPermalink }}' alt="{{$alt_text}}" 
          class="rounded-circle img-fluid" />
        </a>
        {{ end }}
      </div>
      <div class="blog-post-info">
        <div class="author align-items-center mb-1">
          <a href="author.html">Publicado: {{ .PublishDate.Format "January 2, 2006" }}</a> in 
          {{with .Params.tags}}
            {{range .}} 
            <a href="{{"/etiquetas/" | relLangURL}}{{. | urlize}}"> 
              {{.}}
            </a> 
            {{end}}
          {{end}}
        </div>
        <ul class="blog-meta">
          <li class="meta-item blog-lesson">
            <span class="meta-value">{{ now.Format "January 2, 2006" }}</span>
          </li>
          <li class="meta-item blog-students">
            <span class="meta-value">
              Lectura: {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} min. {{ else }} mins. {{ end }}
            </span>
          </li>
        </ul>
        </div>
      </div>
  </div>
  <!-- /blog-info -->
</div>

<section class="blog-post-main w3l-homeblock1">
  <!-- blog-post -->
  <article class="blog-content-inf pb-5">
    <div class="container pb-lg-4">
      <div class="single-post-image">
        <div class="post-content">
          {{$img := .Resources.GetMatch "cover.*"}}
          {{ if $img }}
          <img src='{{($img.Resize "1150x webp").Permalink}}' width="1150" loading="lazy"
            class="radius-image img-fluid mb-5" alt="{{.Title}}">
          {{end}}
        </div>
      </div>
      <div class="single-post-content">
        {{.Content}}
        <div class="d-grid left-right mt-5 pb-md-5">
          <!--/article tags-->
          <div class="buttons-singles tags">
            <h4>Etiquetas :</h4>
              {{with .Params.tags}}
                {{range .}} 
                <a href='{{"/etiquetas/" | relLangURL}}{{. | urlize}}'>{{.}}</a> 
                {{end}}
              {{end}}
          </div>
          <!--/social share-->
          <div class="buttons-singles">
            <h4>Compartir :</h4>
            {{ partialCached "social.html" false }}
          </div>
        </div>
        {{- partialCached "author-card.html" . -}}
        {{- partialCached "comments.html" . -}}
        {{- partialCached "leave-comment-form.html" . -}}
        <!-- related posts -->
        {{- partialCached "more.html" . -}}
      </div>
    </div>
  </article>
  <!-- /blog-post -->
</section>

{{ end }}
