<div class="py-5 w3l-homeblock1 text-center">
  <div class="container mt-md-3">
      <h3 class="blog-desc-big text-center mb-4">Your Blog Posts are Boring? Here are 9 Tips for
          Making your Writing more Interesting</h3>
      <div class="blog-post-align">
          <div class="blog-post-img">
              <a href="author.html"><img src="assets/images/author.jpg" alt="" class="rounded-circle img-fluid" /></a>
          </div>
          <div class="blog-post-info">
              <div class="author align-items-center mb-1">
                  <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
              </div>
              <ul class="blog-meta">
                  <li class="meta-item blog-lesson">
                      <span class="meta-value"> April 13, 2020 </span>
                  </li>
                  <li class="meta-item blog-students">
                      <span class="meta-value"> 6min read</span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>