<!-- footer -->
<footer class="w3l-footer-16">
  <div class="footer-content py-lg-5 py-4 text-center">
    <div class="container">
      <div class="copy-right">
        <h6>{{.Param "copyright" | markdownify}}; <span class="fa fa-heart" aria-hidden="true"></span>
          {{.Param "stack" | markdownify}}</h6>
      </div>
      <ul class="author-icons mt-4">
        {{with site.Author.facebook}}
        <li>
          <a class="facebook" href="{{.}}"><span class="fa fa-facebook" aria-hidden="true"></span></a> 
        </li>
      {{end}}
      {{with site.Author.twitter}}
        <li>
          <a class="twitter" href="{{.}}"><span class="fa fa-twitter" aria-hidden="true"></span></a>
          </a>
        </li>
      {{end}}
      {{with site.Author.linkedin}}
      <li>
        <a class="linkedin" href="{{.}}"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
      </li>
      {{end}}
      {{with site.Author.github}}
      <li>
        <a class="github" href="{{.}}"><span class="fa fa-github" aria-hidden="true"></span></a>
      </li>
      {{end}}
      {{with site.Author.email}}
        <li>
          <a href="mailto:{{.}}"><span class="fa fa-envelope" aria-hidden="true"></span></a>
        </li>
      {{end}}        
      </ul>
      <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
    </div>
  </div>

  <!-- move top -->
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- //move top -->
</footer>

<!-- Template JavaScript -->
<script src='{{ absURL "js/theme-change.js" }}'></script>

<script src='{{ absURL "js/jquery-3.3.1.min.js" }}'></script>

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<script src='{{ absURL "js/bootstrap.min.js" }}'></script>