<!-- footer -->
<footer class="w3l-footer-16">
  <div class="footer-content py-lg-5 py-4 text-center">
    <div class="container">
      <div class="copy-right">
        <h6>{{.Param "copyright" | markdownify}} <span class="fa fa-heart" aria-hidden="true"></span>;
          {{.Param "stack" | markdownify}}</h6>
      </div>
      {{ partial "social.html" true }}
      <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
    </div>
  </div>

  <!-- move top -->
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- //move top -->
</footer>

<!-- Template JavaScript -->
<script src='{{ absURL "js/theme-change.js" }}'></script>

<script src='{{ absURL "js/jquery-3.3.1.min.js" }}'></script>

<!-- Optional JavaScript by about page -->
{{ with .File }}
  {{ if eq .ContentBaseName "about-me" }}
    {{ partial "about-js.html" (dict "First" site.Params.author.animation.first
      "Middle" site.Params.author.animation.middle
      "Last" site.Params.author.animation.last)
    }}
  {{ end }}
{{ end }}

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<script src='{{ absURL "js/bootstrap.min.js" }}'></script>